@import "style.css";

window {
    background-color: rgb(49, 49, 49);
    transition-duration: 0.5s
}

*:not(separator) {
    color: rgb(156, 156, 156);
    transition-duration: 0.5s
}

#grid-cell, #grid-cell-block, #grid-cell-round{
    border-color: rgb(195, 195, 195);
}

#grid-cell-block{
    background-color: rgb(156, 156, 156);
}

separator {
    background-color: rgb(136, 136, 136);
    opacity: 0.3;
}

button {
    background: rgb(34, 34, 34);
    border-color:  rgb(34, 34, 34);
}

button:hover {
    background: rgb(22, 22, 22);
    border-color:  rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 0.8px rgb(22, 22, 22);
}