
 window {
    background: rgb(248, 248, 248);
}

* {
    color: rgb(49, 49, 49);
    transition-duration: 0.5s
}

separator {
    background: gray;
    opacity: 0.3;
}


#fenetreGrille {
    border-width: 3px;
    border-color: black;
    padding: 0px 0px;
    opacity: 1.0;
}

#fenetreGrilleHide {
    opacity: 0;
}

#sidebar * > label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerbar * > label {
    color: rgb(49, 49, 49);
}


/* _____ Fenetre Partie _____ */

#grid-cell , #grid-cell-block, #grid-cell-round , #grid-cell-red, #grid-cell-red-block,
#grid-cell-appartient-ile, #grid-cell-ile-appartient-ile, 
#grid-cell-portee-ile, #grid-cell-portee-ile-red, #grid-cell-portee-ile-ile, #grid-cell-portee-ile-black, #grid-cell-portee-ile-black-red{
    background-image: none;
    border-width: 1px;
    border-color: rgb(22, 10, 1);
    border-radius: 0px;
    color: rgb(173, 171, 171);
    background:rgb(238, 238, 238);
    font-size: 22px;
}


#grid-cell-ile-appartient-ile{
    font-size: 35px;
}

/** black */

#grid-cell-block,#grid-cell-red-block{
    background: rgb(0, 0, 0);
}

/** red */
#grid-cell-red, #grid-cell-portee-ile-red, #grid-cell-portee-ile-black-red, #grid-cell-red-block, #grid-cell-red-appartient{
    border-color: red;
    border-width: 3px;
}


/** nbBlocIle */
#grid-cell-appartient-ile, #grid-cell-ile-appartient-ile, #grid-cell-red-appartient{

    background:rgb(204, 212, 224);
    font-size: 22px;
}

/** Portee Ile */
#grid-cell-portee-ile, #grid-cell-portee-ile-red, #grid-cell-portee-ile-ile{
    background:rgb(228, 209, 184);

}

#grid-cell-portee-ile-black, #grid-cell-portee-ile-black-red{
    background:rgb(23, 20, 12);
}

/* Iles */
#grid-cell-portee-ile-ile, #grid-cell-ile-appartient-ile, #grid-cell{
    font-size: 35px;
}

/* _____ Fin Fenetre Partie _____ */



#grid-cell-block *{
    color:white;
}

#btn-toolbar , #btnHide{
    background-image: none;
    border-style: none;
}

#timer, #timer_respire {
    color: rgb(160, 63, 63);
    box-shadow: 0px 0px 5px 0.8px rgb(39, 39, 39);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 1s;
    font-family: 'Abyssinica SIL', serif;
}

#timer_respire {
    box-shadow: 0px 0px 9px 2.0px rgb(39, 39, 39);
}


button:hover {
    background: rgb(255, 255, 255);
    border-color:  rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 0.8px rgb(255, 255, 255);
}

#btnQuitter, #btnQuitter * {
    background: rgb(243, 73, 51);
    color:white;
}

#btnHide {
    opacity: 0.5;
}

#hide {
    opacity: 0.0;
}

messagedialog {
    font-size: 20px;
}



#text, #text *{
    font-size: 20px;
    color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px 15px 30px ;
}

#text {
    letter-spacing: 1px;
}

#resumeGame{
    background: rgb(73, 145, 73);
}

#resumeGame * {
    color: white;
    font-weight: 500;
}


#little, #little * {
    padding: 0px 0px;
    font-size: 1.2em;
}

#fenetreGrille * > label {
    color: black
}

#bg-FenetreSelection {
    background: rgb(214, 214, 214);
}

#bg-FenetreSelection:hover {
    background: rgb(230, 230, 230);
    box-shadow: 0px 0px 5px 0.8px rgb(200, 200, 200);
    border-color:  rgba(22, 22, 22, 0.0);
}

#bg-FenetreSelection-title {
    background: linear-gradient(90deg, rgb(255, 255, 255) , rgba(255, 255, 255, 0));;
    padding-right: 30px;
}