@import "style.css";

window {
    background-color: rgb(49, 49, 49);
    transition-duration: 0.5s
}

separator {
    background-color: rgb(136, 136, 136);
    opacity: 0.3;
}

#headerbar * > label {
    color: black;
}


*:not(separator) {
    color: rgb(156, 156, 156);
    transition-duration: 0.5s
}


/* _____ Fenetre Partie _____ */

#grid-cell , #grid-cell-block, #grid-cell-round , #grid-cell-red, #grid-cell-red-block,
#grid-cell-appartient-ile, #grid-cell-ile-appartient-ile, 
#grid-cell-portee-ile, #grid-cell-portee-ile-red, #grid-cell-portee-ile-ile, #grid-cell-portee-ile-black, #grid-cell-portee-ile-black-red{
    background-image: none;
    border-width: 1px;
    border-color: black;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    background:rgb(173, 171, 171);
}


#grid-cell-ile-appartient-ile{
    font-size: 35px;
}

/** black */

#grid-cell-block,#grid-cell-red-block{
     background:  rgb(49, 49, 49);
}

/** red */
#grid-cell-red, #grid-cell-portee-ile-red, #grid-cell-portee-ile-black-red, #grid-cell-red-block, #grid-cell-red-appartient{
    border-color: red;
    border-width: 3px;
}


/** nbBlocIle */
#grid-cell-appartient-ile, #grid-cell-ile-appartient-ile, #grid-cell-red-appartient{

    background:rgb(152, 168, 186);
    font-size: 22px;
}

/** Portee Ile */
#grid-cell-portee-ile, #grid-cell-portee-ile-red, #grid-cell-portee-ile-ile{
    background:rgb(189, 168, 141);

}

#grid-cell-portee-ile-black, #grid-cell-portee-ile-black-red{
    background:  rgb(59, 51, 39);
}

/* Iles */
#grid-cell-portee-ile-ile, #grid-cell-ile-appartient-ile, #grid-cell{
    font-size: 35px;
}


#grid-cell * , #grid-cell-round *{
    color: rgb(0, 0, 0);
}



button {
    background: rgb(34, 34, 34);
    border-color:  rgb(34, 34, 34);
}

button:hover {
    background: rgb(22, 22, 22);
    border-color:  rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 0.8px rgb(22, 22, 22);
    color :rgb(0, 0, 0);
}


#btnBack {
    background: rgb(233, 221, 239);
}

#text, #text *{
    background: rgb(49, 49, 49);
    color: rgb(173, 171, 171);
}


popover * {
    color :black;

    
}

popover {
    background:rgb(208, 208, 208);
    border:solid 1px black;
}