
 window {
    background-color: rgb(248, 248, 248);
    transition-duration: 0.5s
}

* {
    color: rgb(49, 49, 49);
}

#sidebar * > label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerbar * > label {
    color: white;
}


#grid-cell , #grid-cell-block, #grid-cell-round{
    background-image: none;
    border-width: 1px;
    border-color: black;
    border-radius: 0px;
    color: rgb(49, 49, 49);
}

#grid-cell-block{
    background-color:  rgb(49, 49, 49);
}


#btn-toolbar{
    background-image: none;
    border-style: none;
}

frame {
    border-width: 2px;
    border-color: black;
    padding: 0px 0px;
}