
 window {
    background-color: rgb(248, 248, 248);
}

* {
    color: rgb(49, 49, 49);
    transition-duration: 0.5s
}

separator {
    background-color: gray;
    opacity: 0.3;
}


#fenetreGrille {
    border-width: 2px;
    border-color: black;
    padding: 0px 0px;
    opacity: 1.0;
}

#fenetreGrilleHide {
    opacity: 0;
}

#sidebar * > label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerbar * > label {
    color: rgb(49, 49, 49);
}


/* cells */


#grid-cell , #grid-cell-block, #grid-cell-round , #grid-cell-red, #grid-cell-red-block,#grid-cell-appartient-ile, #grid-cell-ile-appartient-ile{
    background-image: none;
    border-width: 1px;
    border-color: rgb(22, 10, 1);
    border-radius: 0px;
    color: rgb(173, 171, 171);
    background-color:rgb(238, 238, 238);
}

#grid-cell-appartient-ile{

    background-color:rgb(204, 212, 224);
    font-size: 22px;
}

#grid-cell-ile-appartient-ile{

    background-color:rgb(204, 212, 224);
    font-size: 35px;
}

#grid-cell-red {
    border-color: red;
    border-width: 2px;
    font-size: 22px;
}

#grid-cell-red-block {
    border-color: red;
    background: rgb(0, 0, 0);
    border-width: 2px;
    font-size: 22px;
}

/* WHITE CONDITIONAL BORDER */


#grid-cell-red-left, #grid-cell-red-left-top, #grid-cell-red-left-bot, #grid-cell-red-left-bot-top, #grid-cell-red-top-left-right, #grid-cell-red-bot-left-right{
    border-left-color: red;
    border-left-width: 2px;
}

#grid-cell-red-right, #grid-cell-red-right-top, #grid-cell-red-right-bot, #grid-cell-red-right-bot-top, #grid-cell-red-top-left-right, #grid-cell-red-bot-left-right{
    border-right-color: red;
    border-right-width: 2px;
}

#grid-cell-red-bot, #grid-cell-red-left-bot, #grid-cell-red-right-bot, #grid-cell-red-bot-left-right, #grid-cell-red-left-bot-top, #grid-cell-red-right-bot-top{
    border-bottom-color: red;
    border-bottom-width: 2px;
}

#grid-cell-red-top, #grid-cell-red-left-top, #grid-cell-red-right-top, #grid-cell-red-top-left-right, #grid-cell-red-left-bot-top, #grid-cell-red-right-bot-top{
    border-top-color: red;
    border-top-width: 2px;
}

/* BLACK CONDITIONAL BORDER */

#grid-cell-red-left, #grid-cell-red-left-top, #grid-cell-red-left-bot, #grid-cell-red-left-bot-top, #grid-cell-red-top-left-right, #grid-cell-red-bot-left-right{
    border-left-color: red;
    border-left-width: 2px;
    background: rgb(0, 0, 0);
}

#grid-cell-red-right, #grid-cell-red-right-top, #grid-cell-red-right-bot, #grid-cell-red-right-bot-top, #grid-cell-red-top-left-right, #grid-cell-red-bot-left-right{
    border-right-color: red;
    border-right-width: 2px;
    background: rgb(0, 0, 0);
}

#grid-cell-red-bot, #grid-cell-red-left-bot, #grid-cell-red-right-bot, #grid-cell-red-bot-left-right, #grid-cell-red-left-bot-top, #grid-cell-red-right-bot-top{
    border-bottom-color: red;
    border-bottom-width: 2px;
    background: rgb(0, 0, 0);
}

#grid-cell-red-top, #grid-cell-red-left-top, #grid-cell-red-right-top, #grid-cell-red-top-left-right, #grid-cell-red-left-bot-top, #grid-cell-red-right-bot-top{
    border-top-color: red;
    border-top-width: 2px;
    background: rgb(0, 0, 0);
}

/* */

#grid-cell * , #grid-cell-round *{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

#grid-cell-round * {
    font-size: 22px;
}

#grid-cell-block {
    background-color:  rgb(0, 0, 0);
}

#grid-cell-block *{
    color:white;
}

#btn-toolbar , #btnHide{
    background-image: none;
    border-style: none;
}

#timer, #timer_respire {
    color: rgb(160, 63, 63);
    box-shadow: 0px 0px 5px 0.8px rgb(39, 39, 39);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 1s;
    font-family: 'Abyssinica SIL', serif;
}

#timer_respire {
    box-shadow: 0px 0px 9px 2.0px rgb(39, 39, 39);
}


button:hover {
    background: rgb(255, 255, 255);
    border-color:  rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 0.8px rgb(255, 255, 255);
}

#btnQuitter, #btnQuitter * {
    background: rgb(243, 73, 51);
    color:white;
}

#btnHide {
    opacity: 0.5;
}

#hide {
    opacity: 0.0;
}

messagedialog {
    font-size: 20px;
}



#text, #text *{
    font-size: 20px;
    color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px 15px 30px ;
}

#text {
    letter-spacing: 1px;
}