@import "style.css";

window {
    background-color: rgb(49, 49, 49);
    transition-duration: 0.5s
}

separator {
    background-color: rgb(136, 136, 136);
    opacity: 0.3;
}

#headerbar * > label {
    color: black;
}


*:not(separator) {
    color: rgb(156, 156, 156);
    transition-duration: 0.5s
}

#grid-cell , #grid-cell-block , #grid-cell-round {
    background-image: none;
    border-width: 1px;
    border-color: black;
    border-radius: 0px;
    color: rgb(173, 171, 171);
    background-color:rgb(173, 171, 171);
}

#grid-cell * , #grid-cell-round *{
    color: rgb(0, 0, 0);
}

#grid-cell-block{
    background-color:  rgb(49, 49, 49);
    color:black;
}

button {
    background: rgb(34, 34, 34);
    border-color:  rgb(34, 34, 34);
}

button:hover {
    background: rgb(22, 22, 22);
    border-color:  rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 0.8px rgb(22, 22, 22);
}


#btnBack {
    background-color: rgb(233, 221, 239);
}

